.registration-page__main-bgi {
  display: grid;
  justify-content: center;
  position: relative;
  top: -60px;
  left: -8px;
  width: 1440px;
  background-image: url('src/images/bg-image4.png');
  height: 722px;
}

.registration-form_sing-up {
  padding-left: 30px;
}

.sign-in-page__wrapper .sign-in-form {
  position: relative;
  margin-top: 61px;
  left: 0px;
  top: 175px;
}

.registration__radio-buttons-items {
  width: 345px;
  display: flex;
  margin-bottom: 14px;
}

.registration-page__main-bgi .registration__toggle-block {
  margin-bottom: -5px;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .registration-page__main-bgi {
    text-align: initial;
  }

  .registration-form {
    text-align: center;
    margin-left: 30px;
  }

  .registration-form_sing-up .label-date {
    left: -16px;
  }

  .registration-form_sing-up .label-entries {
    left: 30px;
  }

  .sign-in-block {
    margin-left: 30px;
  }

  .sign-in-page__wrapper .sign-in-form {
    left: 48px;
    text-align: -webkit-center;
  }
}
