.registration-page__main-bgi {
  display: grid;
  justify-content: center;
  position: relative;
  top: -60px;
  left: -8px;
  width: 1440px;
  background-image: url('src/images/bg-image4.png');
  height: 722px;
}

.landing-page__main {
  padding-top: 50px;
}

.sign-in-page__wrapper {
  margin-left: 30px;
}

.registration__radio-buttons-items {
  width: 345px;
  display: flex;
  margin-bottom: 14px;
}

@media (max-width: 1200px) {
  .registration-page__main-bgi {
    text-align: initial;
    justify-content: start;
  }

  .registration-form {
    margin-left: 30px;
  }
}
