mixin rich-checkbox(label, describe)
    label.checkbox-list_options-items
        input(type="checkbox" name="agreement").checkbox
        span.visible-checkbox-label
        span.checkbox-label.checkbox-label-rich= label
        p.checkbox-label-describe= describe