mixin rich-checkbox(label="Label", describe="Описание")
  style 
    include ./rich-checkbox.scss
  label.checkbox-list_options-items
    input(type="checkbox" name="agreement").checkbox
    span.visible-checkbox-label
    span.checkbox-label.checkbox-label-rich= label
    p.checkbox-label-describe= describe