.room-card__luxe {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  color: #bc9cff;
  top: 3px;
  right: 8px;
}

.room-card-info__block {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 233px;
  position: relative;
  top: 3px;
  right: 5px;
}

.room-card-info__price {
  position: relative;
  top: 3px;
  left: 6px;
}

.room-card-sign-number {
  font-weight: 700;
  color: #1f2041;
}
