.forms-elements {
  display: grid;
  width: 100%;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  margin-left: 9%;
  margin-top: 81px;
}

.col-1 {
  width: 320px;
}

.col-1 .form {
  margin-bottom: 68px;
}

.col-2 {
  width: 320px;
  margin-left: -34px;
}

.col-3 {
  width: 320px;
  margin-left: -123px;
}

.row-1 {
  display: flex;
  width: 1158px;
  justify-content: space-between;
  margin-top: 77px;
  margin-left: 130px;
}

@media (max-width: 1200px) {
  .forms-elements {
    grid-template-columns: repeat(1, 1fr);
  }

  .col-2 {
    margin-left: 0px;
  }

  .col-3 {
    margin-left: 0px;
  }

  .pagination {
    margin-bottom: 0px;
  }

  .rating-block {
    margin-bottom: 0px;
  }

  .col-1 .form {
    margin-bottom: 0px;
  }

  .row-1 {
    display: grid;
    margin-left: 60px;
  }
}
