html
  head
    style
      include pagination.scss
    .pagination__btns
      button.btn.btn-pagination.btn-pagination_active 1
      button.btn.btn-pagination.btn-pagination 2
      button.btn.btn-pagination.btn-pagination 3
      button.btn.btn-pagination.btn-pagination ...
      button.btn.btn-pagination.btn-pagination 15
      button.btn.btn-pagination.btn-pagination_next <span class="material-icons">arrow_forward</span>
      p.pagination-text 1 – 12 из 100+ вариантов аренды