mixin room-privilege-block(text)
                            .room-privilege-block
                            .room-privilege__image    
                                <span class="material-icons room-privilege-img">insert_emoticon</span> 
                            .room-privilege__description 
                                p.room-privilege__description-label Комфорт
                                p.room-privilege__description-text Шумопоглощающие стены
