@use './../pug/components/head.scss';
@use './../pug/components/footer.scss';
@use './../libs/nouislider.min.css';
@use './../libs/item-quantity-dropdown.min.css';
@use './../libs/flatpickr.min.css';

$primaryColor: #ffffff;
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,600;1,700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('~material-design-icons/iconfont/material-icons.css');

html {
  font-size: 10px;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
}

body {
  background-color: $primaryColor;
  font-size: 14px;
  max-width: 1440px;
  min-width: 1440px;
  height: 100%;
  overflow-y: visible;
  margin: 0 auto;
}

a {
  color: #1f204180 !important;
}
