$primaryColor: darkcyan;
$secondaryColor: rgb(79, 47, 74);

html {
  font-family: generalFont;
}
h1 {
  color: $primaryColor;
}
.container {
  &__subtitle {
    color: $secondaryColor;
    display: block;
    height: 600px;
    background: url('../img/01.png');
  }
}
