$primaryColor: #ffffff;
$headerTextColor: #1f2041;
$secondaryColor: rgb(79, 47, 74);

html {
  font-size: 10px;
}
body {
  background-color: $primaryColor;
  font-size: 14px;
}
.header {
  display: flex;
  justify-content: space-between;
  max-width: 144rem;
  color: $headerTextColor;
}
.container {
  &__subtitle {
    color: $secondaryColor;
    display: block;
    height: 600px;
  }
}
