html
    head
        style
            include booking-form.scss
        form.form.booking-form
            .form-header
                h1.form__head № 888
                .from__head_arrt люкс
                .from__head_price <em>9 990₽</em> в сутки
            .from__date-go
                h3.form__sub-head ПРИБЫТИЕ
                input(type="date" name="check-in-date" ).form__date
            .from__date-go
                h3.form__sub-head ВЫЕЗД
                input(type="date" name="check-out-date" ).form__date
            h3.form__sub-head ГОСТИ
            select.form__select
                option(value="1") Сколько гостей
                option(value="2") 1
                option(value="3") 2
                option(value="4") 3
                option(value="5") 4
                option(value="6") 5
            .booking-info 
                p 9 990₽ х 4 суток
                p 39 960₽
                p Сбор за услуги: скидка 2 179₽
                p 0₽
                p Сбор за дополнительные услуги
                p 300₽
                h1 Итого
                h1 38 081₽ 
            button.form__btn забронировать