html
    head
        style
            include colors-and-type.scss
        .color-and-type.hidden-page
            .color-blocks
                .color-block  
                    .color-block__color 
                    .color-block__description 
                        h2.color-block__description_head Dark Shade 100%
                        p.color-block__description_value #1F2041
                .color-block 
                    .color-block__color 
                    .color-block__description 
                        h2.color-block__description_head Dark Shade 75%
                        p.color-block__description_value #1F2041
                .color-block 
                    .color-block__color 
                    .color-block__description 
                        h2.color-block__description_head Dark Shade 50%
                        p.color-block__description_value #1F2041
                .color-block 
                    .color-block__color 
                    .color-block__description 
                        h2.color-block__description_head Dark Shade 25%
                        p.color-block__description_value #1F2041
                .color-block 
                    .color-block__color 
                    .color-block__description 
                        h2.color-block__description_head Dark Shade 5%
                        p.color-block__description_value #1F2041
                .color-block 
                    .color-block__color 
                    .color-block__description 
                        h2.color-block__description_head Purple
                        p.color-block__description_value #BC9CFF
                .color-block 
                    .color-block__color 
                    .color-block__description 
                        h2.color-block__description_head Green
                        p.color-block__description_value #6FCF97
            .type-blocks
                .type-block
                    h1.type-block__type H1 
                    h1.type-block__description This one is the sub-section or widget title
                .type-block
                    h2.type-block__type H2
                    h2.type-block__description Next one is the item title inside widgets
                .type-block
                    h3.type-block__type H3 
                    h3.type-block__description This is a label or CTA text
                .type-block
                    span.type-block__type Body 
                    span.type-block__description This is the body text which is used for most of the design, like paragraphs, lists, etc.


                    