doctype html
html
  head
    style
      include footer.scss
  .footer
    .footer-item__logo
      .header__text-logo
        a(href="#")
          img(src="src/images/logo.png", alt="Logo").header__text-logo-img
      p.footer-item__slogan Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .footer-item
      h3.footer-item__head НАВИГАЦИЯ
      ul.footer-list
        li.footer-list__item
          a(href="#").footer-list__link О нас
        li.footer-list__item
          a(href="#").footer-list__link Новости
        li.footer-list__item
          a(href="#").footer-list__link Служба поддержки
        li.footer-list__item
          a(href="#").footer-list__link Услуги
    .footer-item
      h3.footer-item__head О НАС
      ul.footer-list
        li.footer-list__item
          a(href="#").footer-list__link О сервисе
        li.footer-list__item
          a(href="#").footer-list__link Наша команда
        li.footer-list__item
          a(href="#").footer-list__link Вакансии
        li.footer-list__item
          a(href="#").footer-list__link Инвесторы
    .footer-item    
      h3.footer-item__head СЛУЖБА ПОДДЕРЖКИ
      ul.footer-list            
        li.footer-list__item
          a(href="#").footer-list__link Соглашения
        li.footer-list__item
          a(href="#").footer-list__link Сообщества
        li.footer-list__item
          a(href="#").footer-list__link Связь с нами
    .footer-item__sub
      h3.footer-item__head ПОДПИСКА
      ul.footer-list
        li.footer-list__item-sub Получайте специальные предложения и новости сервиса
        .subscribe-field
          .field
            input(type="text" placeholder="   Email").footer-item__input
            <span class="material-icons footer-item__subscribe-field-arrow">arrow_forward</span> 
  .footer-bottom
    p.footer_copyright-txt Copyright © 2018 Toxin отель. Все права защищены.
    .footer__social-icons 
      a.social-icon_item(href="https://twitter.com/")
        img(src="src/images/twitter.svg", alt="avatar").social-logo
      a.social-icon_item(href="https://facebook.com/")
        img(src="src/images/FB.svg", alt="avatar").social-logo
      a.social-icon_item(href="https://www.instagram.com/")
        img(src="src/images/instagram.svg", alt="avatar").social-logo       
