html
    head
        style
            include form-elements.scss
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        .form
            .field 
                h2.label Text Field
                input(type="text" placeholder='Email').input
            .field 
                h2.label Dropdown
                select.input
                    option(value='') volovo
                    option(value='') volovo
                    option(value='') volovo
                    option(value='') volovo
            .field
                h2.label masked text field
                input(type="date").input
            .field
                h2.label date Dropdown
                input(type="date").input
            .field 
                h2.label filter date dropdown
                input(type="date").input
            .field 
                h2.label subscription text field
                input(type="text").input
            .buttons 
                h2.label buttons
                button.btn.btn_small.btn_fill-dark-violet CLICK ME
                button.btn.btn_small.btn_fill-light-violet CLICK ME
                button.btn.btn_small.btn_dark-violet CLICK ME
                button.btn.btn_small.btn_light-violet CLICK ME
                button.btn.btn_small.btn_no-border-violet CLICK ME
                button.btn.btn_small.btn_no-border-dark CLICK ME
                button.btn.btn_lg  <span>ПЕРЕЙТИ К ОПЛАТЕ</span> <span class="material-icons">arrow_forward</span>
            .pagination 
                 h2.label pagination
                 button.btn.btn-pagination.btn-pagination_fill-dark-violet 1


