html
    head
        style
            include form-elements.scss
        .form
            .field 
                h2.label Text Field
                input(type="text" placeholder='Email').input
            .field 
                h2.label Dropdown
                select.input
                    option(value='') volovo
                    option(value='') volovo
                    option(value='') volovo
                    option(value='') volovo
            .field
                h2.label masked text field
                input(type="date").input
            .field
                h2.label date Dropdown
                input(type="date").input
            .field 
                h2.label filter date dropdown
                input(type="date").input
            .field 
                h2.label subscription text field
                input(type="text").input
            .buttons 
                button.btn.btn_small.btn_fill-dark-violet CLICK ME
                button.btn.btn_small.btn_fill-light-violet CLICK ME
                button.btn.btn_small.btn_dark-violet CLICK ME
                button.btn CLICK ME
                button.btn CLICK ME
                button.btn CLICK ME

