html
    head
        style
            include form-elements.scss
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        .form
            .field 
                h2.label Text Field
                input(type="text" placeholder='Email').input
            .field 
                h2.label Dropdown
                select.input
                    option(value='') volovo
                    option(value='') volovo
                    option(value='') volovo
                    option(value='') volovo
            .field
                h2.label masked text field
                input(type="date").input
            .field
                h2.label date Dropdown
                input(type="date").input
            .field 
                h2.label filter date dropdown
                input(type="date").input
            .field 
                h2.label subscription text field
                input(type="text").input
            .buttons 
                h2.label buttons
                button.btn.btn_small.btn_fill-dark-violet CLICK ME
                button.btn.btn_small.btn_fill-light-violet CLICK ME
                button.btn.btn_small.btn_dark-violet CLICK ME
                button.btn.btn_small.btn_light-violet CLICK ME
                button.btn.btn_small.btn_no-border-violet CLICK ME
                button.btn.btn_small.btn_no-border-dark CLICK ME
                button.btn.btn_lg  <span>ПЕРЕЙТИ К ОПЛАТЕ</span> <span class="material-icons">arrow_forward</span>
            .pagination
                h2.label pagination
                button.btn.btn-pagination.btn-pagination_active 1
                button.btn.btn-pagination.btn-pagination 2
                button.btn.btn-pagination.btn-pagination 3
                button.btn.btn-pagination.btn-pagination ...
                button.btn.btn-pagination.btn-pagination 15
                button.btn.btn-pagination.btn-pagination_next <span class="material-icons">arrow_forward</span>
                p.pagination-text 1 – 12 из 100+ вариантов аренды
            .checkbox-list
                .checkbox-list__label 
                    h2.label expandable checkbox list <span class="material-icons expand-arrow">expand_more</span>
                .checkbox-list_options 
                    label.checkbox-list_options-items
                        input(type='checkbox' name='agreement').checkbox
                        span.visible-checkbox-label
                        span.checkbox-label Завтрак
                    label.checkbox-list_options-items
                        input(type='checkbox' name='agreement' checked).checkbox
                        span.visible-checkbox-label
                        span.checkbox-label Письменный стол
                    label.checkbox-list_options-items
                        input(type='checkbox' name='agreement' checked).checkbox
                        span.visible-checkbox-label
                        span.checkbox-label Стул для кормления
                    label.checkbox-list_options-items
                        input(type='checkbox' name='agreement' checked).checkbox
                        span.visible-checkbox-label
                        span.checkbox-label Кроватка
                    label.checkbox-list_options-items
                        input(type='checkbox' name='agreement').checkbox
                        span.visible-checkbox-label
                        span.checkbox-label Телевизор
                    label.checkbox-list_options-items
                        input(type='checkbox' name='agreement').checkbox
                        span.visible-checkbox-label
                        span.checkbox-label Шампунь
            .checkbox-list
                    .checkbox-list__label 
                        h2.label rich Checkbox Buttons
                    .checkbox-list_options 
                        label.checkbox-list_options-items
                            input(type='checkbox' name='agreement').checkbox
                            span.visible-checkbox-label
                            span.checkbox-label.checkbox-label-rich Широкий коридор
                            p.checkbox-label-describe Ширина коридоров в номере не менее 91 см.
                        label.checkbox-list_options-items
                            input(type='checkbox' name='agreement').checkbox
                            span.visible-checkbox-label
                            span.checkbox-label.checkbox-label-rich Помощник для инвалидов
                            p.checkbox-label-describe На 1 этаже вас встретит специалист  и проводит до номера.
            .bullet-list 
                h2.label bullet list
                ul.bullet-list 
                    li.bullet-list__item Нельзя с питомцами
                    li.bullet-list__item Без вечеринок и мероприятий
                    li.bullet-list__item Время прибытия — после 13:00, а выезд до 12:00.
            .rating-block 
                h2.label rate button
                .rating
                    .rating-stars
                        input(id='rating__5' type='radio' name='rating' value='5').rating__star 
                        label(for='rating__5').rating__label <span class="material-icons">star_border</span>
                        input(id='rating__4' type='radio' name='rating' value='4').rating__star
                        label(for='rating__4').rating__label <span class="material-icons">star_border</span>
                        input(id='rating__3' type='radio' name='rating' value='3').rating__star
                        label(for='rating__3').rating__label <span class="material-icons">star_border</span>
                        input(id='rating__2' type='radio' name='rating' value='2').rating__star
                        label(for='rating__2').rating__label <span class="material-icons">star_border</span>
                        input(id='rating__1' type='radio' name='rating' value='1').rating__star
                        label(for='rating__1').rating__label <span class="material-icons">star_border</span>
                .rating
                    .rating-stars
                        input(id='rating__10' type='radio' name='rating' value='10').rating__star 
                        label(for='rating__10').rating__label <span class="material-icons">star_border</span>
                        input(id='rating__9' type='radio' name='rating' value='9').rating__star
                        label(for='rating__9').rating__label <span class="material-icons">star_border</span>
                        input(id='rating__8' type='radio' name='rating' value='8').rating__star
                        label(for='rating__8').rating__label <span class="material-icons">star_border</span>
                        input(id='rating__7' type='radio' name='rating' value='7').rating__star
                        label(for='rating__7').rating__label <span class="material-icons">star_border</span>
                        input(id='rating__6' type='radio' name='rating' value='6').rating__star
                        label(for='rating__6').rating__label <span class="material-icons">star_border</span>


                             

                

                

