html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    style
      include header-img-logo.scss
    .header__logo-img
      a(href="index.html")
        img(src="src/images/only_logo.png", alt="Logo").head__logo-img