html
    head
        style
            //- include form-elements.scss
            include registration-form.scss
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        form.form.registration-form
            .registration-form_sing-up    
                h1 Регистрация аккаунта
                .mixed-fields
                    .field 
                        input(type="text" placeholder="Имя").input
                    .field 
                        input(type="text" placeholder="Фамилия").input
                .registration__radio-buttons-items
                            .radio
                                input(type="radio" name="gender" id="1").radio__input
                                label(for="1").radio__label Мужчина
                            .radio
                                input(type="radio" name="gender" id="2").radio__input
                                label(for="2").radio__label Женщина  
                include ../blocks/radio-btns/radio-btns.pug
                .registration__date-fields
                    .field
                        h2.label-date дата рождения
                        input(type="date" placeholder="ДД.ММ.ГГГГ").calendar.calendar_long
                .mixed-fields
                    h2.label-entries данные для входа в сервис
                    .field 
                        input(type="email" placeholder="Email").input
                    .field 
                        input(type="password" placeholder="Пароль").input
                .registration__toggle-block 
                    //- .toggle-item 
                    //-     input(type="checkbox" class=" toggle toggle-promo" id="check1" checked)
                    //-     label(for="check1" class="toggle-label ") Получать спецпредложения
                    include ../blocks/toggle/toggle.pug
                    +toggle('checked')
                .registration__buttons__item
                    button.btn.registration__btn-lg  <span>зарегистрироваться</span> <span class="material-icons registration__arrow">arrow_forward</span>
                .sing-in-block
                    span.sing-in-form__info Уже есть аккаунт на Toxin
                    button.btn.btn_small.btn_dark-violet ВОЙТИ