html
    head
        style
            include registration-form.scss
        form.form.registration-form
            .registration-form_sing-up    
                h1 Регистрация аккаунта
                input(type='text' placeholder='Имя').registration-form_sing-up__input
                input(type='text'  placeholder='Фамилия').registration-form_sing-up__input
                input(type='radio' name='Мужчина' ).registration-form_sing-up__gender 
                span Мужчина
                input(type='radio' name='' ).registration-form_sing-up__gender
                span Женщина
                h2 ДАТА РОЖДЕНИЯ
                input(type='date' name='' ).registration-form_sing-up__date
                h2 данные для входа в сервис
                input(type='text' placeholder='Email').registration-form_sing-up__input
                input(type='password'  placeholder='Пароль').registration-form_sing-up__input
                label.registration-form_sing-up__switch
                    input(type='checkbox'  placeholder='').registration-form_sing-up__checkbox
                    span.registration-form_sing-up__slider-round
                span Получать спецпредложения
                input(type='submit' name='' value='ПЕРЕЙТИ К ОПЛАТЕ').sing-in-form__submit
            .registration-form_sing-in
                span.sing-in-form__info Уже есть аккаунт на Toxin
                button.sing-in-form__btn ВОЙТИ