doctype html
html
    head
        style
            include room-card.scss
        .room-card
           img(src="/src/images/room-card-img.png", alt="")
           svg(xhtml:link='/src/assets/star_black_24dp.svg')

