doctype html
html
    head
        style
            include room-card.scss
        .room-card
            .room-card-img
                img(src="/src/images/room-card-img.png", alt="")
            .room-card-info 
                .room-card-info__number 
                    h3 №840
                .room-card-info__price 
                    span <strong>9900P</strong> в сутки
            .room-card-rating
                .room-card-rating__stars
                    input(id='rating__5' type='radio' name='rating' value='5').room-card-rating__stars__item
                    label(for='rating__5').room-card-rating__stars__label
                    input(id='rating__4' type='radio' name='rating' value='4').room-card-rating__stars__item
                    label(for='rating__4').room-card-rating__stars__label
                    input(id='rating__3' type='radio' name='rating' value='3').room-card-rating__stars__item
                    label(for='rating__3').room-card-rating__stars__label
                    input(id='rating__2' type='radio' name='rating' value='2').room-card-rating__stars__item
                    label(for='rating__2').room-card-rating__stars__label
                    input(id='rating__1' type='radio' name='rating' value='1').room-card-rating__stars__item
                    label(for='rating__1').room-card-rating__stars__label
            
                

