html
    head
        style
            include search-form.scss
        form.form
            h1.form__head Найдём номера под ваши пожелания
            .from__date-go
                h3.form__sub-head ПРИБЫТИЕ
                input(type='date' name='' ).form__date
            .from__date-go
                h3.form__sub-head ВЫЕЗД
                input(type='date' name='' ).form__date
            h3.form__sub-head ГОСТИ
            select.form__select
                option(value="1") Сколько гостей
                option(value="2") 1
                option(value="3") 2
                option(value="4") 3
                option(value="5") 4
                option(value="6") 5
            button.form__btn подобрать номер