.color-block__color {
  width: 70px;
  height: 70px;
  border-radius: 6px;
}

.color-block__description_head {
  font-weight: bold;
  font-size: 19px;
  color: #1f2041;
  margin: 0;
}

.color-block__description_value {
  font-size: 19px;
  color: #1f2041;
  margin: 0;
  margin-top: 5px;
}

.color-block {
  display: flex;
}

.color-blocks {
  margin-left: 141px;
  margin-top: 65px;
  display: grid;
  gap: 20px;
}

.color-block__description {
  position: relative;
  left: 41px;
  top: 10px;
}

.color-and-type_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.type-block_type_h1 {
  font-weight: 400;
  font-size: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
}

.type-block_type_h2 {
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
}

.type-block_type_h3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.25);
}

.type-block_type_body {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.type-block__description_type_h1 {
  font-size: 24px;
  line-height: 29px;
  color: #1f2041;
}

.type-block__description_type_h2 {
  font-size: 19px;
  line-height: 23px;
  color: #1f2041;
}

.type-block__description_type_h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

.type-block__description_type_body {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.type-block {
  display: flex;
  margin-bottom: 1px;
}

.type-blocks {
  display: grid;
  justify-items: end;
  margin-top: 40px;
  margin-right: 160px;
  align-content: center;
  gap: 26px;
}

.type-block__description {
  margin-left: 30px;
  width: 369px;
}
