.color-block__color {
  width: 70px;
  height: 70px;
  left: 150px;
  top: 145px;
  background: #1f2041;
  border-radius: 6px;
}

.color-and-type {
  width: 281.26px;
  height: 610px;
  left: 149.74px;
  top: 145px;
}

.color-block__description_head {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #1f2041;
}
.color-block__description_value {
  width: 171px;
  height: 56px;
  left: 260px;
  top: 152px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #1f2041;
}
