$footerTextColor: #1f2041;

.footer {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  padding-left: 10.5rem;
  padding-right: 15rem;
  &-item__sub {
    width: 260px;
  }
  &-item {
    max-width: 200px;
    margin-top: -8px;
    &__slogan {
      position: relative;

      left: 23px;
      width: 260px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
    }
    &__head {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: #1f2041;
    }
  }
  &-list {
    list-style: none;
    padding-left: 0;

    &__link {
      text-decoration: none;
      display: block;
      margin-top: 15px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: rgba(31, 32, 65, 0.5);
      margin-top: 22px;
    }
  }
}

.footer-item__sub {
  margin-top: -8px;
}

.footer-list__item-sub {
  display: block;
  width: 260px;
  height: 48px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-top: 19px;
}

.subscribe-field {
  margin-top: 22px;
}

.footer-item__input {
  width: 260px;
  height: 44px;
  left: 141px;
  top: 163px;
  padding-left: 15px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  text-transform: none;
}

.footer-item__subscribe-field-arrow {
  position: relative;
  left: 226px;
  top: -33px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #bc9cff;
}

.footer_copyright-txt {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75);
}

.footer__social-icons {
  margin-left: 10px;
  display: flex;
  width: 120px;
  justify-content: space-around;
  margin-right: 15px;
}

.social-logo {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  margin-top: 46px;
  padding: 0 132px;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 70px;
  box-shadow: 0px -2px rgb(31 32 65 / 13%);
}
