.field {
  margin-bottom: 10px;
}

.field_mt-1 {
  position: relative;
  top: 1px;
  margin-bottom: 10px;
}

.input.input_focus {
  outline: none;
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}

.field-label {
  display: flex;
  justify-content: space-between;
}

.buttons__label {
  margin-bottom: 10px;
}

.buttons__item {
  margin-right: 18px;
  margin-bottom: 20px;
  margin-top: 8px;
}

.btn {
  border: 2px solid;
  outline: none;
  height: 44px;
  border-radius: 22px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.pagination {
  margin-top: 40px;
  margin-bottom: 236px;
}

.buttons {
  margin-left: -4px;
  margin-bottom: 68px;
}

.btn_lg {
  position: relative;
  width: 320px;
  left: -118px;
  top: 14px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
}

img {
  width: 12px;
  height: 12px;
}

.material-icons {
  vertical-align: middle;
  font-family: 'Material Icons';
  align-items: right;
  font-size: 24px;
}

.checkbox-list_close {
  margin-bottom: 26px;
}

.checkbox-block {
  margin-top: 42px;
}

.expand-arrow {
  color: rgba(31, 32, 65, 0.5);
}

.expand-arrow__reverse {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  writing-mode: lr-tb;
}

.checkbox-list_rich {
  margin-top: 90px;
}

.checkbox-list_options {
  display: grid;
  gap: 10px;
  position: relative;
  bottom: 3px;
}

.checkbox-list_options_rich {
  position: relative;
  bottom: 1px;
}

.bullet-list {
  margin-top: 90px;
}

.bullet-list__items {
  padding-left: 18px;
  margin: 0px;
}

.stars-block {
  position: relative;
  top: 3px;
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: space-between;
  height: 100%;
  align-content: space-between;
  width: 258px;
}

.rating-block {
  margin-top: 30px;
  margin-bottom: 186px;
}

.like-block {
  margin-top: 28px;
}

.like-buttons {
  margin-top: 11px;
  display: flex;
}

.like {
  font-size: 10px;
  line-height: 9px;
  align-items: center;
  text-align: center;
  color: rgba(31, 32, 65, 0.25);
  margin-left: 4px;
}

.radio {
  margin-left: 10px;
}

.radio_female {
  position: relative;
  left: 4px;
}

.avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  right: 21px;
  bottom: 3px;
}

.avatar_small {
  width: 180%;
  height: 180%;
  float: left;
}

.user-name {
  display: inline-block;
  padding-left: 9px;
}

.comment-block {
  margin-top: 25px;
}

.comment {
  padding-left: 10px;
  position: relative;
  right: 14px;
  bottom: 3px;
}

.like-button_color {
  float: left;
}

.comment-text {
  width: 653px;
  height: 72px;
  display: inline-block;
  padding-left: 1px;

  position: relative;
  left: 13px;
}

.toggle-block {
  margin-top: 34px;
}

.toggle {
  opacity: 0;
}

.toggle + .toggle-label {
  position: relative;
  padding: 0 0 0 52px;
  cursor: pointer;
  top: 1px;
}

.toggle-label {
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  user-select: none;
}

.input_middle {
  width: 267px;
}

.subscribe-arrow {
  position: relative;
  left: 233px;
  top: -2px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #bc9cff;
}

.subscribe-field-arrow {
  position: relative;
  left: -36px;
  color: #bc9cff;
  cursor: pointer;
}

.dropdown__input_default {
  display: flex;
  width: 266px;
  padding-right: 9px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 5px;
  margin-top: 4px;
  cursor: pointer;
  align-items: center;
}

.dropdown__input-text {
  display: flex;
  position: relative;
  width: 295px;
  left: 15px;
  bottom: 1px;
  height: 40px;
  color: rgba(31, 32, 65, 0.75);
  align-items: center;
  justify-content: space-between;
}

.dropdown-block__label {
  margin-bottom: -5px;
  display: flex;
  justify-content: space-between;
}

.dropdown__arrow {
  display: inline-block;
}

.dropdown__arrow_wide {
  position: relative;
  left: 168px;
  display: inline-block;
}

.dropdown__arrow_narrow {
  position: relative;
  left: 116px;
  top: -32px;
  display: inline-block;
  cursor: pointer;
}

.dropdown__input_expanded {
  width: 266px;
  height: 119px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 2px;
  margin-top: -1px;
}

.dropdown__input_expanded-apply {
  width: 320px;
  height: 159px;
}
.dropdown__input_wide {
  display: flex;
  width: 320px;
  padding-right: 177px;
}

.date-pickers {
  display: flex;
  width: 343px;
  margin-top: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-price {
  margin-bottom: 32px;
}

.filter-price__label {
  display: flex;
  height: 15px;
}

.filter-price__head {
  display: flex;
  width: 266px;
  margin-bottom: 18px;
  margin-left: -12px;
}

.filter-price__text {
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
}

.filter-price__text-max {
  position: relative;
  text-align: left;
  left: -11px;
  float: left;
}

.filter-price__input-min {
  font-family: 'Montserrat';
  border: none;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
}

.filter-price__input-max {
  font-family: 'Montserrat';
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
}

.filter-price__inputs {
  position: relative;
  top: 11px;
  left: 23px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.filter-price__slider {
  width: 267px;
  margin-left: -12px;
}

.noUi-target {
  background: #ffffff !important;
  border-radius: 100px !important;
  box-shadow: none !important;
  border: 1px solid rgba(31, 32, 65, 0.25) !important;
  height: 6px !important;
}

.noUi-connect {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  box-shadow: none;
  height: 5px;
  border: none;
}

.noUi-handle:after,
.noUi-handle:before {
  display: none !important;
}

.noUi-handle {
  box-shadow: none !important;
  border-radius: 20px !important;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%) !important;
  border: 2px solid #ffffff !important;
}

.noUi-horizontal .noUi-handle {
  width: 16px !important;
  height: 16px !important;
  right: -10px !important;
  top: -6px !important;
}

.noUi-horizontal .noUi-handle-upper {
  right: -2px !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 19px !important;
  line-height: 23px !important;
  color: #1f2041 !important;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  width: 283px;
}

.flatpickr-current-month input.cur-year {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 19px !important;
  line-height: 23px !important;
  text-align: left !important;
  color: #1f2041 !important;
}

.numInputWrapper input,
.numInputWrapper span {
  display: none !important;
}

.flatpickr-current-month {
  left: 20px !important;
  margin-bottom: 30px !important;
}
.flatpickr-months {
  margin-top: 15px !important;
}

.flatpickr-month {
  margin-bottom: 30px !important;
}

span.flatpickr-weekday {
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  color: #bc9cff !important;
  margin: 12px !important;
}

.flatpickr-day {
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  color: rgba(31, 32, 65, 0.5) !important;
}

.flatpickr-current-month span.cur-month {
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 19px !important;
  line-height: 23px !important;
  text-align: center !important;
  color: #1f2041 !important;
}

.flatpickr-day.selected {
  width: 39.88px !important;
  height: 40px !important;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%) !important;
  border-radius: 22px !important;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  right: 0 !important;
  top: 13px !important;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  left: 0 !important;
  top: 13px !important;
}

.date-filter_arrow {
  cursor: pointer;
  position: relative !important;
  left: -33px !important;
  top: -1px !important;
}

.date-filter {
  position: relative;
  bottom: 3px;
}

.subscribe-field {
  position: relative;
  top: 6px;
}

.head__logo-img {
  height: 48px;
  width: 48px;
}

.header__logo {
  display: inline-block;
  position: relative;
  top: 28px;
  left: 18%;
}

.subcribe-input {
  display: flex;
  align-items: center;
}

.dropdown-options {
  user-select: none;
}

.dropdown__input {
  user-select: none;
}

.btn_dark-violet {
  color: #bc9cff;
}
