.label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

.input {
  width: 320px;
  height: 44px;
  left: 141px;
  top: 163px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.btn {
  border: 2px solid;
  outline: none;
  text-align: center;
  margin: 0;
  height: 44px;
  border-radius: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.btn_small {
  width: 99px;
  left: 980px;
  top: 262px;
}

.btn-pagination {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
}

.btn-pagination_active {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
}

.btn-pagination_next {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  color: #ffffff;
}

.pagination-text {
  width: 229px;
  height: 24px;
  left: 985px;
  top: 622px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.btn_lg {
  width: 320px;
  left: 979px;
  top: 456px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.btn_fill-dark-violet {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
  width: 102px;
  height: 46px;
}

.btn_fill-light-violet {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.5;
  color: #ffffff;
  width: 102px;
  height: 46px;
}

.btn_dark-violet {
  color: #bc9cff;
  border-color: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background: #ffffff;
  border: 2px solid;
}

.btn_light-violet {
  color: #bc9cff;
  border: 2px solid;
  background: #ffffff;
  border-color: linear-gradient(180deg, #bc9cff 100%, #8ba4f9 100%);
  opacity: 0.5;
}
.btn_no-border-violet {
  color: #bc9cff;
  border: none;
  background: #ffffff;
}
.btn_small.btn_no-border-dark {
  color: rgba(31, 32, 65, 0.5);
  border: none;
  background: #ffffff;
}

img {
  width: 12px;
  height: 12px;
}

.material-icons {
  vertical-align: middle;
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  align-items: right;
  text-align: right;
  font-size: 24px; /* Preferred icon size */
  text-transform: none;
  letter-spacing: normal;
}
// expandable checkbox list
.expand-arrow {
  color: rgba(31, 32, 65, 0.5);
  padding-left: 30px;
}

.checkbox-list_options-item {
  vertical-align: middle;
}
.checkbox-list_options-items {
  display: block;
  margin-top: 10px;
}

.checkbox-label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  padding-left: 10px;
  vertical-align: middle;
}

.checkbox {
  width: 20px;
  height: 20px;
  left: 140px;
  top: 1292.44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  vertical-align: middle;
  display: none;
}

.visible-checkbox-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  left: 140px;
  top: 1292.44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  vertical-align: middle;
}

.visible-checkbox-label::before {
  text-align: center;
  content: '';
  display: block;
  background-image: url('./src/assets/checked.png');
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 12px;
  height: 11px;
  transform: translate(35%, 41%);
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: 0.3s;
}

.checkbox:checked + .visible-checkbox-label::before {
  opacity: 1;
}

.checkbox-label-rich {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}

.checkbox-label-describe {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
  padding-left: 30px;
  max-width: 236px;
  margin-top: 5px;
}
