$headerTextColor: #1f2041;
$secondaryColor: rgb(79, 47, 74);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 144rem;
  color: $headerTextColor;
  padding-left: 1.5rem;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  &-item {
    margin: 0 1.5rem;
  }
  &-link {
    text-decoration: none;
  }
}

.container {
  &__subtitle {
    color: $secondaryColor;
    display: block;
    height: 600px;
  }
}

.control {
  display: flex;
  align-items: center;
  padding-left: 0;
  &-item {
    margin-left: 20px;
    list-style: none;
  }
  &-btn {
    border-radius: 22px;
    border-width: 3px;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;

    &_singin {
      border-color: #bc9cff;
      width: 87px;
      height: 34px;
      left: 997px;
      top: 158px;
    }
    &_singup {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-color: #bc9cff;
      width: 196px;
      height: 34px;
      left: 1104px;
      top: 158px;
    }
  }
}
