$headerTextColor: #1f2041;
$secondaryColor: rgb(79, 47, 74);

.header-wrapper {
  margin-top: -19px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $headerTextColor;
  height: 70px;
  margin-top: 20px;
  margin-left: -8px;
  &__text-logo {
    position: relative;
    left: 23px;
    &-img {
      width: 106px;
      height: 40px;
    }
  }
  &__nav-bar {
    display: flex;
    margin-left: 73px;
  }
  &__nav {
    display: flex;
    align-items: baseline;
    list-style: none;
    padding-left: 0;
    &-item {
      margin-right: 20px;
    }
    &-link {
      text-decoration: none;
    }
    &-link:hover {
      box-sizing: border-box;
      font-weight: bold;
    }
  }
}

.header__buttons-items {
  display: flex;
  align-items: center;
}

.header__button {
  margin-right: 20px;
}

.header__btn_small {
  border: 2px solid;
  outline: none;
  text-align: center;
  margin: 0;
  border-radius: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  width: 87px;
  height: 34px;
}
.header__btn_long {
  border: 2px solid;
  outline: none;
  text-align: center;
  margin: 0;
  border-radius: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.header__btn_fill-light-violet {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.5;
  color: #ffffff;
  width: 199px;
  height: 38px;
  align-items: center;
}

.header__arrow {
  position: relative;
}
