.registration-form {
  margin-top: 36px;
  width: 380px;
  height: 646px;
  background-color: #fff;
  padding-top: 23px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.registration-form_sing-up h1 {
  position: relative;
  left: -9px;
  font-size: 24px;
  color: #1f2041;
  margin-bottom: 21px;
}

.label-date {
  position: relative;
  width: 211px;
  height: 15px;
  left: -99px;
  top: 8px;
  font-size: 12px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 13px;
}

.label-entries {
  position: relative;
  width: 211px;
  height: 15px;
  left: -53px;
  top: 5px;
  margin-bottom: 11px;
  font-size: 12px;
  text-transform: uppercase;
  color: #1f2041;
}

.registration__toggle-block {
  margin-bottom: -35px;
  margin-top: 36px;
}

.registration__arrow {
  position: relative;
  left: 58px;
  top: 0px;
}

.registration__buttons__item {
  text-align: center;
  margin-bottom: 43px;
}

.toggle-promo + .toggle-label {
  cursor: pointer;
  position: relative;
  left: -29px;
  top: -29px;
}

.registration__radio-buttons-items {
  width: 345px;
  display: flex;
  margin-bottom: 14px;
  margin-left: 30px;
}

.calendar.calendar_long.calendar_long {
  width: 320px;
  margin-left: 5px;
}

.registration__date-fields {
  margin-bottom: 15px;
}

.sing-in-form__info {
  display: flex;
  width: 222px;
  margin-top: 10px;
}

.sing-in-block {
  display: flex;
  width: 320px;
}

.registration__btn-lg {
  position: relative;
  width: 320px;
  top: 14px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
