.room-card-rating {
  position: relative;
  font-size: 40px;
  display: inline-block;
}

.room-card-rating::before {
  content: '★★★★★';
  display: block;
}

.room-card-rating__stars {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.room-card-rating__stars__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  top: 0;
  left: 0;
  visibility: hidden;
}

.room-card-rating__stars__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #bc9cff;
}

.room-card-rating__stars__label::before {
  content: '★';
  display: block;
  transition: color 0.3s ease 0s;
}

.room-card-rating__stars__item:checked,
.room-card-rating__stars__item:checked ~ .room-card-rating__stars__label {
  color: blue;
}

.room-card-rating__stars__label:hover,
.room-card-rating__stars__label:hover ~ .room-card-rating__stars__label,
.room-card-rating__stars__label:checked
  ~ .room-card-rating__stars__label:hover {
  color: red;
}
