.search-form {
  width: 380px;
  height: 374px;
  left: 140px;
  top: 150px;
}

.form__head {
  width: 320px;
  height: 59px;
  left: 170px;
  top: 190px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1f2041;
}

.form__sub-head {
  width: 83px;
  height: 15px;
  left: 170px;
  top: 270px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

.form__date {
  width: 150px;
  height: 44px;
  left: 170px;
  top: 290.44px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: rgba(31, 32, 65, 0.75);
}

.form__select {
  width: 320px;
  height: 44px;
  left: 170px;
  top: 375px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

.from__date-go {
  display: inline-block;
  margin-left: 20px;
}

.form__btn {
  margin-top: 30px;
  width: 320px;
  height: 44px;
  left: 170px;
  top: 450px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
