.cards-page__form {
  display: block;
}

.cards-page__search-form {
  display: grid;
  width: 380px;
  height: 374px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.card-page__booking-form {
  background-color: #fff;
  width: 380px;
  height: 512px;
}

.card-page__registration-from {
  margin-right: 0px;
}

.cards-page__form .registration-form_sing-up h1 {
  position: relative;
  left: 29px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1f2041;
  margin-bottom: 21px;
}

.cards-page__form .text-fields {
  margin-left: 30px;
  margin-bottom: -2px;
}

.cards-page__form .registration__radio-buttons-items {
  width: 345px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 14px;
  margin-left: 14px;
}

.cards-page__form .registration__date-fields {
  margin-bottom: 15px;
  margin-left: 25px;
}

.field .label-date {
  position: relative;
  width: 211px;
  height: 15px;
  left: 6px;
  top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 13px;
}

.text-fields .label-entries {
  position: relative;
  width: 211px;
  height: 15px;
  left: 0px;
  top: 6px;
  margin-bottom: 11px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #1f2041;
}

.registration-form_sing-up .registration__toggle-block {
  position: relative;
  left: 58px;
  top: 3px;
  margin-bottom: -35px;
  margin-top: 36px;
}

.registration-form_sing-up .registration__buttons__item {
  position: relative;
  left: 29px;
  top: 4px;
  margin-bottom: 43px;
}

.registration-form_sing-up .sing-in-block {
  position: relative;
  display: flex;
  width: 320px;
  left: 27px;
  top: 7px;
}

.cards-page__form .sing-in-form {
  margin-top: 0px;
  width: 380px;
  height: 358px;
  left: 140px;
  top: 564px;
  background-color: #fff;
  padding-top: 23px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.sing-in-form .sing-in-form__data h1 {
  position: relative;
  left: 28px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1f2041;
  margin-bottom: 21px;
}

.sing-in-form__data .sing-in__text-fields {
  margin-bottom: -9px;
  position: relative;
  left: 28px;
}

.sing-in-form__data .registration__buttons__item {
  position: relative;
  left: 28px;
  margin-right: -1px;
  margin-bottom: 43px;
}

.sing-in-form__data .sing-in-block {
  position: relative;
  left: 29px;
  top: 2px;
  display: flex;
  width: 320px;
}
