.cards-page__wrapper {
  background-color: #e5e5e5;
  height: 1350px;
}
.card-page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  column-gap: 35px;
  margin-left: 145px;
}

.cards-page__cards {
  margin-top: -106px;
}

.card-page__sing-in-from {
  margin-top: 38px;
}

.cards-page__search-form {
  display: grid;
  height: 374px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.card-page__booking-form {
  background-color: #fff;
  width: 380px;
  padding-top: 24px;
  padding-left: 28px;
  padding-right: 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.card-page__registration-from {
  margin-top: -136px;
}

.cards-page__form .registration-form_sing-up h1 {
  position: relative;
  left: 29px;
  font-size: 24px;
  line-height: 29px;
  color: #1f2041;
  margin-bottom: 21px;
}

.cards-page__form .mixed-fields {
  margin-left: 30px;
  margin-bottom: -2px;
}

.cards-page__form .registration__radio-buttons-items {
  margin-bottom: 14px;
  margin-left: 14px;
}

.cards-page__form .registration__date-fields {
  margin-bottom: 15px;
  margin-left: 25px;
}

.field .label-date {
  position: relative;
  left: 6px;
  top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 13px;
}

.mixed-fields .label-entries {
  position: relative;
  width: 211px;
  height: 15px;
  left: 0px;
  top: 6px;
  margin-bottom: 11px;
  font-size: 12px;
  text-transform: uppercase;
  color: #1f2041;
}

.registration-form_sing-up .registration__toggle-block {
  position: relative;
  left: 58px;
  top: 3px;
}

.registration-form_sing-up .registration__buttons__item {
  position: relative;
  left: 29px;
  top: 4px;
}

.registration-form_sing-up .sing-in-block {
  position: relative;
  display: flex;
  width: 320px;
  left: 27px;
  top: 7px;
}

.cards-page__form .sing-in-form {
  margin-top: 0px;
  width: 380px;
  height: 358px;
  left: 140px;
  top: 564px;
  background-color: #fff;
  padding-top: 23px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.sing-in-form .sing-in-form__data h1 {
  position: relative;
  left: 28px;
}

.sing-in-form__data .sing-in__mixed-fields {
  position: relative;
  left: 28px;
}

.sing-in-form__data .registration__buttons__item {
  position: relative;
  left: 28px;
  margin-right: -1px;
  margin-bottom: 43px;
}

.sing-in-form__data .sing-in-block {
  position: relative;
  left: 29px;
  top: 2px;
}

.dropdown__input_guests.dropdown__input_guests {
  width: 320px;
  background-color: #fff;
  border: 1px px solid rgba(31, 32, 65, 0.25);
  border-radius: 2px;
  position: absolute;
}

.material-icons.dropdown__arrow_comfort {
  position: relative;
  left: 158px;
  top: 1px;
}

.material-icons.dropdown-arrow-guests {
  position: relative;
  left: 169px;
  top: 1px;
}

.sing-in__btn-lg.search-button {
  position: relative;
  top: 30px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.sign-in__arrow.search-arrow {
  left: 73px;
}

.sign-in__arrow.book-arrow {
  position: relative;
  left: 79px;
  top: 0px;
}
.calendar.calendar_long.form-control.input {
  width: 320px;
}

.total-info {
  color: rgba(31, 32, 65, 0.75);
}

.card-from.room-card-number {
  font-size: 24px;
  color: #1f2041;
}

h2.price-sum {
  font-size: 19px;
  color: #1f2041;
}

.card-page.room-card-info__price {
  position: relative;
  left: 91px;
  top: 3px;
  color: rgba(31, 32, 65, 0.5);
}

.total-info-options {
  display: flex;
  justify-content: space-between;
  height: 15px;
}

.total-info-summary {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: -35px;
}

.summary-order-info {
  margin-top: 4px;
  display: grid;
  row-gap: 25px;
}

.card-page__room-card-info {
  margin-bottom: 5px;
}

.total-info_long {
  width: 200px;
}

.visible-calendar.form-control.input {
  display: none;
}

.calendar-form {
  margin-top: -15px;
}

.cards-page__cards .search-room__main-col {
  margin-bottom: 47px;
}
