html
    head
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        style
            include ../components/form-elements.scss
            include form-elements-page.scss
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        .forms-elements-page
            include ../components/_header-img-logo.pug
            .forms-elements 
                .col-1
                    .form
                        .mixed-fields
                            .field 
                                .field-label
                                    h2.label Text Field
                                    span.input-condition DEFAULT
                                input(type="text" placeholder="Email").input
                            .field
                                .field-label
                                    h2.label Text Field
                                    span.input-condition Hover/Focus
                                input(type="text" placeholder="This is pretty awesome").input.input_focus
                            .field 
                                h2.label Dropdown
                                select.input
                                    option(value="") Сколько гостей
                                    option(value="") 1
                                    option(value="") 2
                                    option(value="") 3
                            .field
                                h2.label masked text field
                                input(type="text" placeholder="ДД.ММ.ГГГГ").input 
                        .date-pickers
                            .field
                                h2.label date Dropdown
                                input(type="date" placeholder="ДД.ММ.ГГГГ").input.calendar
                            .field 
                                h2.label date dropdown
                                input(type="date" placeholder="19.08.2019").input.calendar
                        .date-filter
                            .field
                                h2.label filter date dropdown
                                input(type="date" placeholder="19 авг - 23 авг").input.calendar.date-filter__input
                                span(class="material-icons expand-arrow date-filter_arrow") expand_more 
                        .subscribe-field
                            .field 
                                h2.label subscription text field
                                input(type="text" placeholder="Email").input.input_middle 
                                <span class="material-icons subscribe-field-arrow">arrow_forward</span>     
                    .dropdown-block
                        .dropdown-block__label 
                            h2.label dropdown 
                            span.dropdown-condition DEFAULT
                        .dropdown__input 
                            .dropdown__input_default 
                                div.dropdown__input-text  2 спальни
                                span(class="material-icons expand-arrow dropdown__arrow") expand_more
                    .dropdown-block
                        .dropdown-block__label 
                            h2.label dropdown 
                            span.dropdown-condition EXPANDED
                        .dropdown__input 
                            .dropdown__input_default 
                                div.dropdown__input-text  2 спальни
                                span(class="material-icons expand-arrow dropdown__arrow") expand_more
                            .dropdown__input_expanded
                                .dropdown-options
                                    .dropdown-item 
                                        h2.dropdown-option.label спальни
                                        .dropdown-counter
                                                .dropdown-counter__btn(data-direction="minus")  
                                                    span -
                                                .dropdown-counter__value.label 0
                                                .dropdown-counter__btn(data-direction="plus") 
                                                    span  +
                                    .dropdown-item 
                                        h2.dropdown-option.label кровати
                                        .dropdown-counter
                                                .dropdown-counter__btn(data-direction="minus") 
                                                    span  -
                                                .dropdown-counter__value.label 0
                                                .dropdown-counter__btn(data-direction="plus")
                                                    span +
                                    .dropdown-item 
                                        h2.dropdown-option.label ванные комнаты
                                        .dropdown-counter
                                                .dropdown-counter__btn(data-direction="minus") 
                                                    span -
                                                .dropdown-counter__value.label 0
                                                .dropdown-counter__btn(data-direction="plus") 
                                                    span +
                        .checkbox-block
                            .checkbox-list_close
                                .checkbox-list__label 
                                    h2.label expandable checkbox list <span class="material-icons expand-arrow">expand_more</span>
                            .checkbox-list
                                .checkbox-list__label 
                                    h2.label expandable checkbox list <span class="material-icons expand-arrow expand-arrow__reverse">expand_more</span>
                                .checkbox-list_options 
                                    label.checkbox-list_options-items
                                        input(type="checkbox" name="agreement").checkbox
                                        span.visible-checkbox-label
                                        span.checkbox-label Завтрак
                                    label.checkbox-list_options-items
                                        input(type="checkbox" name="agreement" checked).checkbox
                                        span.visible-checkbox-label
                                        span.checkbox-label Письменный стол
                                    label.checkbox-list_options-items
                                        input(type="checkbox" name="agreement" checked).checkbox
                                        span.visible-checkbox-label
                                        span.checkbox-label Стул для кормления
                                    label.checkbox-list_options-items
                                        input(type="checkbox" name="agreement" checked).checkbox
                                        span.visible-checkbox-label
                                        span.checkbox-label Кроватка
                                    label.checkbox-list_options-items
                                        input(type="checkbox" name="agreement").checkbox
                                        span.visible-checkbox-label
                                        span.checkbox-label Телевизор
                                    label.checkbox-list_options-items
                                        input(type="checkbox" name="agreement").checkbox
                                        span.visible-checkbox-label
                                        span.checkbox-label Шампунь
                
                .col-2
                    .checkbox-list
                        .checkbox-list__label 
                            h2.label Checkbox Buttons 
                        .checkbox-list_options 
                            label.checkbox-list_options-items
                                input(type="checkbox" name="agreement").checkbox
                                span.visible-checkbox-label
                                span.checkbox-label Можно курить
                            label.checkbox-list_options-items
                                input(type="checkbox" name="agreement" checked).checkbox
                                span.visible-checkbox-label
                                span.checkbox-label Можно с питомцами
                            label.checkbox-list_options-items
                                input(type="checkbox" name="agreement" checked).checkbox
                                span.visible-checkbox-label
                                span.checkbox-label Можно пригласить гостей (до 10 человек)  
                    .radio-buttons-block
                        h2.label Radio Buttons
                        .radio-buttons-items
                            .radio
                                input(type="radio" name="gender" id="1").radio__input
                                label(for="1").radio__label Мужчина
                            .radio
                                input(type="radio" name="gender" id="2").radio__input
                                label(for="2").radio__label Женщина  
                    .toggle-block 
                        h2.label TOGGLE
                        .toggle-item 
                            input(type="checkbox" class="toggle" id="check1" checked)
                            label(for="check1" class="toggle-label ") Получать спецпредложения
                        .toggle-item 
                            input(type="checkbox" class="toggle" id="check2")
                            label(for="check2" class="toggle-label ") Получать спецпредложения
                    .like-block 
                        h2.label like button
                        .like-buttons
                            .like-button
                                <span class="material-icons like">favorite_border</span> <span class="like-quantity">2</span> 
                            .like-button.like-button_color
                                <span class="material-icons like like-fill">favorite</span> <span class=" like-quantity like-quantity_color">12</span> 
                    .rating-block 
                        h2.label rate button
                        .stars-block
                            include ../blocks/rating-stars/rating-stars.pug
                            include ../blocks/rating-stars/rating-stars.pug
                    .dropdown-block
                        .dropdown-block__label 
                            h2.label dropdown 
                        .dropdown__input
                            .dropdown__input_default.dropdown__input_wide  
                                div.dropdown__input-text  Сколько гостей  <span class="material-icons expand-arrow dropdown__arrow">expand_more</span>
                            .dropdown__input_expanded.dropdown__input_expanded-apply
                                .dropdown-options
                                    .dropdown-item 
                                        h2.dropdown-option.label взрослые
                                        .dropdown-counter
                                                .dropdown-counter__btn(data-direction="minus") 
                                                    span.counter__btn -
                                                .dropdown-counter__value.label 0
                                                
                                                .dropdown-counter__btn(data-direction="plus") 
                                                    span.counter__btn  +
                                    .dropdown-item 
                                        h2.dropdown-option.label дети
                                        .dropdown-counter
                                                .dropdown-counter__btn(data-direction="minus") 
                                                    span.counter__btn -
                                                .dropdown-counter__value.label 0
                                                .dropdown-counter__btn(data-direction="plus") 
                                                    span.counter__btn +
                                    .dropdown-item 
                                        h2.dropdown-option.label младенцы
                                        .dropdown-counter
                                                .dropdown-counter__btn(data-direction="minus") 
                                                    span.counter__btn -
                                                .dropdown-counter__value.label 0
                                                .dropdown-counter__btn(data-direction="plus") 
                                                    span.counter__btn  +
                                    .dropdown-buttons
                                        p.apply-btn применить
                        .checkbox-list_rich 
                            .checkbox-list__label 
                                h2.label rich Checkbox Buttons
                            .checkbox-list_options 
                                label.checkbox-list_options-items
                                    input(type="checkbox" name="agreement").checkbox
                                    span.visible-checkbox-label
                                    span.checkbox-label.checkbox-label-rich Широкий коридор
                                    p.checkbox-label-describe Ширина коридоров в номере не менее 91 см.
                                label.checkbox-list_options-items
                                    input(type="checkbox" name="agreement").checkbox
                                    span.visible-checkbox-label
                                    span.checkbox-label.checkbox-label-rich Помощник для инвалидов
                                    p.checkbox-label-describe На 1 этаже вас встретит специалист  и проводит до номера.    
                .col-3
                    .filter-price
                        .filter-price__head
                            h2.label range slider
                            .filter-price__inputs
                                label.filter-price__label.filter-price__label-min
                                    input(type="number" min="0" max="100000" placeholder="0" id="input-0").filter-price__input-min
                                    span.filter-price__text ₽-
                                    span.filter-price__text 
                                label.filter-price__label.filter-price__label-max
                                    input(type="number" min="0" max="100000" placeholder="10&nbsp0000" id="input-1").filter-price__input-max
                                    span.filter-price__text.filter-price__text-max ₽
                        .filter-price__slider(id="range-slider")
                    .buttons
                        .buttons__label 
                            h2.label buttons
                        .buttons__items
                            .buttons__item
                                button.btn.btn_small.btn_fill-dark-violet CLICK ME
                            .buttons__item
                                button.btn.btn_small.btn_fill-light-violet CLICK ME
                            .buttons__item
                                button.btn.btn_small.btn_dark-violet CLICK ME
                            .buttons__item
                                button.btn.btn_small.btn_light-violet CLICK ME
                            .buttons__item
                                button.btn.btn_small.btn_no-border-violet CLICK ME
                            .buttons__item
                                button.btn.btn_small.btn_no-border-dark CLICK ME
                                button.btn.btn_lg  <span>ПЕРЕЙТИ К ОПЛАТЕ</span> <span class="material-icons">arrow_forward</span>
                    .pagination
                        h2.label pagination
                        br
                        .pagination__btns
                            button.btn.btn-pagination.btn-pagination_active 1
                            button.btn.btn-pagination.btn-pagination 2
                            button.btn.btn-pagination.btn-pagination 3
                            button.btn.btn-pagination.btn-pagination ...
                            button.btn.btn-pagination.btn-pagination 15
                            button.btn.btn-pagination.btn-pagination_next <span class="material-icons">arrow_forward</span>
                            p.pagination-text 1 – 12 из 100+ вариантов аренды
                    .dropdown-block
                        .dropdown-block__label 
                            h2.label dropdown 
                        .dropdown__input
                            .dropdown__input_default.dropdown__input_wide  
                                div.dropdown__input-text  Сколько гостей  <span class="material-icons expand-arrow dropdown__arrow">expand_more</span>
                            .dropdown__input_expanded.dropdown__input_expanded-apply
                                .dropdown-options
                                    .dropdown-item 
                                        h2.dropdown-option.label взрослые
                                        .dropdown-counter
                                                .dropdown-counter__btn(data-direction="minus") 
                                                    span -
                                                .dropdown-counter__value.label 0
                                                .dropdown-counter__btn(data-direction="plus")  
                                                    span +
                                    .dropdown-item 
                                        h2.dropdown-option.label дети
                                        .dropdown-counter
                                                .dropdown-counter__btn(data-direction="minus") 
                                                    span -
                                                .dropdown-counter__value.label 0
                                                .dropdown-counter__btn(data-direction="plus") 
                                                    span  +
                                    .dropdown-item 
                                        h2.dropdown-option.label младенцы
                                        .dropdown-counter
                                                .dropdown-counter__btn(data-direction="minus") 
                                                    span -
                                                .dropdown-counter__value.label 0
                                                .dropdown-counter__btn(data-direction="plus") 
                                                    span  +
                                    .dropdown-buttons
                                        p.apply-btn применить
                                        p.clear-btn очистить
                    .bullet-list 
                        h2.label bullet list
                        ul.bullet-list__items 
                            li.bullet-list__item Нельзя с питомцами
                            li.bullet-list__item Без вечеринок и мероприятий
                            li.bullet-list__item Время прибытия — после 13:00, а выезд до 12:00.
            .row-1
                    .room-privilege
                        .room-privilege-block
                            .room-privilege__image    
                                <span class="material-icons room-privilege-img">insert_emoticon</span> 
                            .room-privilege__description 
                                p.room-privilege__description-label Комфорт
                                p.room-privilege__description-text Шумопоглощающие стены
                        .room-privilege-block
                            .room-privilege__image    
                                <span class="material-icons room-privilege-img">location_city</span> 
                            .room-privilege__description 
                                p.room-privilege__description-label Удобство
                                p.room-privilege__description-text Окно в каждой из спален
                    .comment-block
                        .user-info
                            .avatar  
                                img(src="src/images/avatar.svg", alt="avatar").avatar_small
                            .user-name
                                p.room-privilege__description-label Мурад Сарафанов
                                p.room-privilege__description-text 5 дней назад
                        .comment
                            .like-button.like-button_color
                                <span class="material-icons like like-fill">favorite</span> <span class=" like-quantity like-quantity_color">12</span> 
                            .comment-text 
                                p.room-privilege__description-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.



               






                    

                

