.col-1 {
  width: 320px;
  margin-right: 126px;
}

.forms-elements {
  display: flex;
  justify-items: start;
  margin-left: 141px;
  margin-top: 140px;
}

.col-2 {
  width: 320px;
  margin-right: 126px;
}
