.header-page__logo {
  margin-bottom: 15px;
  height: 140px;
}

.header-footer-page__footer {
  height: 443px;
}

.header-footer-page__wrapper {
  background-color: #e5e5e5;
}

.footer__content {
  position: relative;
  top: 60px;
}

.landing-page__footer {
}

.header-page__header {
  position: relative;
  z-index: 2;
  margin-bottom: 38px;
}

.header-page__logged-in-header {
  margin-bottom: 40px;
}

.headers-and-footer-page__mobile-footer {
  width: 768px;
  height: 367px;

  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 1px;
  margin-top: 42px;
  margin-bottom: 120px;
}

.header__logged-in-menu {
  margin-left: 188px;
}

.stroke {
  display: inline-block;
  position: relative;
  top: 0px;
  left: -25px;
  margin-left: 23px;
  margin-right: 0px;
  width: 1px;
  height: 30px;
  background: rgba(31, 32, 65, 0.1);
}

.footer-bottom-mobile {
  margin-top: 3px;
  padding: 0 132px;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.footer__social-mobile-icons {
  margin-left: 120px;
  display: flex;
  width: 134px;
  justify-content: space-around;
  margin-right: 15px;
}

.footer_mobile-copyright-txt {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 25px;
  color: rgba(31, 32, 65, 0.75);
}

.header__mobile-text-logo {
  position: relative;
  margin: 0 auto;
  width: 106px;
  margin-top: 119px;
}
