html
  head
    title= 'TOXIN'
    link(rel='icon', sizes='image/svg+xml', href='src/assets/favicon.svg')
    link(rel="icon" type="image/png" href="src/assets/favicon.png")
    style
      include ../components/form-elements.scss
      include headers-and-footer-page.scss
      include ../components/head.scss    
      include landing-page.scss 
      include registration-page.scss
      include ../components/footer.scss
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <meta name="viewport" content="1024">
    .header-footer-page__wrapper
      .header-page__logo
        include ../components/_header-img-logo.pug
      .header-page__header
        include ../components/_head
      .header-page__logged-in-header
        .header
          .header__text-logo
            a(href="index.html")
              img(src="src/images/logo.png", alt="Logo").header__text-logo-img
          .header__nav-bar
            nav.header__logged-in-menu
              ul.header__nav
                li.header__nav-item
                  a(href="#").header__nav-link О нас
                li.header__nav-item
                  a(href="#").header__nav-link Услуги 
                  span(class="material-icons expand-arrow header__arrow") expand_more 
                li.header__nav-item
                  a(href="#").header__nav-link Вакансии
                li.header__nav-item
                  a(href="#").header__nav-link Новости
                li.header__nav-item
                  a(href="#").header__nav-link Соглашения
                  span(class="material-icons expand-arrow header__arrow") expand_more
                .stroke
                li.header__nav-item
                  a(href="#").header__nav-link Юлий Цезарь
      .header-footer-page__footer
        .footer__content
          include ../components/_footer
      .headers-and-footer-page__mobile-footer
        .header__mobile-text-logo
          a(href="index.html")
              img(src="src/images/logo.png", alt="Logo").header__text-logo-img

        .footer-bottom-mobile
          p.footer_mobile-copyright-txt Copyright © 2018 Toxin отель. Все права защищены.
          .footer__social-mobile-icons 
            a.social-icon_item(href="https://twitter.com/")
              img(src="src/images/twitter.svg", alt="avatar").social-logo
            a.social-icon_item(href="https://www.instagram.com/")
              img(src="src/images/FB.svg", alt="avatar").social-logo
            a.social-icon_item(href="https://www.instagram.com/")
              img(src="src/images/instagram.svg", alt="avatar").social-logo
      .end-of-header-footer-page
        p &nbsp
          
            