html
    head
        style
            include ../components/form-elements.scss
            include headers-and-footer-page.scss
            include ../components/head.scss    
            include landing-page.scss 
            include registration-page.scss
            include ../components/footer.scss
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <meta name='viewport' content='1024'>
        .landing-page__wrapper
            .header-page__logo
                .header__logo
                    a(href="#")
                        img(src="src/images/only_logo.png", alt="Logo").head__logo-img
            .landing-page__header 
                include ../components/_head
 
            .landing-page__footer 
                include ../components/_footer
            .headers-and-footer-page__mobile-footer
                .header__mobile-text-logo
                    a(href="#")
                        img(src="src/images/logo.png", alt="Logo").header__text-logo-img

                .footer-bottom-mobile
                    p.footer_mobile-copyright-txt Copyright © 2018 Toxin отель. Все права защищены.
                    .footer__social-mobile-icons 
                        .social-icon_item
                            img(src="src/images/twitter.svg", alt="avatar").social-logo
                        .social-icon_item
                            img(src="src/images/FB.svg", alt="avatar").social-logo
                        .social-icon_item
                            img(src="src/images/instagram.svg", alt="avatar").social-logo

                
                