html
  head
    title= 'TOXIN'
    link(rel='icon', sizes='image/svg+xml', href='src/assets/favicon.svg')
    link(rel="icon" type="image/png" href="src/assets/favicon.png")
    style
      include ../components/form-elements.scss
      include ../components/head.scss    
      include landing-page.scss 
      include ../components/footer.scss
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <meta name="viewport" content="1024">
    .landing-page__wrapper
      include ../blocks/input/input.pug
      .landing-page__header 
        include ../components/_head
      .landing-page__main
        .landing-page__main-bgi
          .landing-page__search-form
            include ../components/room-search-form/room-search-form.pug
      .landing-page__footer 
        include ../components/_footer

                
                