html
    head
        style
            include ../components/head.scss    
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        .landing-page__wrapper 
            include ../components/_head