html
    head
        style
            include ../components/head.scss    
            include landing-page.scss 
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        .landing-page__wrapper
            .landing-page__header 
                include ../components/_head
            .landing-page__main 
                .div hello
