html
    head
        style
            include navigation-page.scss
        .navigate-wrapper
            .ui-kit
                h1.navigate__label UI-kit
                ul.navigate-buttons-list 
                    li.navigate-item 
                        button.navigate-item-link_page_color-type Colors & Type
                    li.navigate-item 
                        button.navigate-item-link_page_form-elements Form Elements
                    li.navigate-item 
                        button.navigate-item-link_page_cards Cards
                    li.navigate-item 
                        button.navigate-item-link_page_header-footer Headers & Footers
            .website-pages
                h1.navigate__label Website pages
                ul.navigate-buttons-list 
                    li.navigate-item 
                        button.navigate-item-link_page_landing Landing page
                    li.navigate-item 
                        button.navigate-item-link_page_search Search room
                    li.navigate-item 
                        button.navigate-item-link_page_room-details Room details
                    li.navigate-item 
                        button.navigate-item-link_page_sing-up Registration
                    li.navigate-item 
                        button.navigate-item-link_page_sing-in Sign in