html
  head
    title= 'TOXIN'
    link(rel='icon', sizes='image/svg+xml', href='src/assets/favicon.svgb')
    link(rel="icon" type="image/png" href="src/assets/favicon.png")
    style
      include navigation-page.scss
    .navigate-wrapper
      .ui-kit
          h1.navigate__label UI-kit
          ul.navigate-buttons-list 
            li.navigate-item
              a(href="colors-and-type.html")  
                button.navigate-item-link_page_color-type Colors & Type
            li.navigate-item 
              a(href="form-elements-page.html")  
                button.navigate-item-link_page_form-elements Form Elements
            li.navigate-item 
                a(href="cards-page.html") 
                  button.navigate-item-link_page_cards Cards
            li.navigate-item 
                a(href="headers-and-footer-page.html") 
                  button.navigate-item-link_page_header-footer Headers & Footers
      .website-pages
        h1.navigate__label Website pages
        ul.navigate-buttons-list 
          li.navigate-item
            a(href="landing-page.html") 
              button.navigate-item-link_page_landing Landing page
            li.navigate-item 
              a(href="search-room-page.html") 
                button.navigate-item-link_page_search Search room
            li.navigate-item 
              a(href="room-details-page.html") 
                button.navigate-item-link_page_room-details Room details
            li.navigate-item
              a(href="registration-page.html") 
                button.navigate-item-link_page_sing-up Registration
            li.navigate-item
              a(href="sign-in-page.html") 
                button.navigate-item-link_page_sing-in Sign in  