.registration-page__main-bgi {
  position: relative;
  text-align: -webkit-center;
  top: -60px;
  left: -8px;
  width: 1440px;
  background-image: url('src/images/bg-image4.png');
  height: 703px;
}

.sign-in-page__wrapper .sing-in-form {
  position: relative;
  margin-top: 61px;

  left: 0px;
  top: 175px;
}

.registration-page__main-bgi {
  height: 722px;
}
