html
    head
        title= 'TOXIN'
        link(rel='icon', sizes='image/svg+xml', href='src/assets/favicon.svg')
        link(rel="icon" type="image/png" href="src/assets/favicon.png")
        style
            include ../components/form-elements.scss
            include ../components/head.scss    
            include landing-page.scss 
            include registration-page.scss
            include ../components/footer.scss
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <meta name="viewport" content="1024">
        .registration-page__wrapper
            .landing-page__header 
                include ../components/_head
            .landing-page__main
                .registration-page__main-bgi
                    h2 Регистрация аккаунта
                    include   ../components/_registration-form
            .landing-page__footer 
                include ../components/_footer

                
                