.registration-page__main-bgi {
  position: relative;
  text-align: -webkit-center;
  top: -60px;
  left: -8px;
  z-index: 1;
  display: block;
  width: 1440px;
  height: 763px;
  background-image: url('src/images/bg-image4.png');
  background-repeat: no-repeat;
}
