html
  head
      title= 'TOXIN'
      link(rel='icon', sizes='image/svg+xml', href='src/assets/favicon.svg')
      link(rel="icon" type="image/png" href="src/assets/favicon.png")
      style
        include room-details-page.scss
        include ../components/form-elements.scss
        include ../pages/form-elements-page.scss
        include ../components/head.scss    
        include search-room-page.scss
        include ../components/footer.scss
        include cards-page.scss
        include landing-page.scss 
        include registration-page.scss
        include headers-and-footer-page.scss
        include ../components/sing-in-form.scss
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="1024">
      .room-details-wrapper
        include ../blocks/dropdown-options/dropdown-options.pug
        include ../blocks/label-h2/label.pug
        include ../blocks/input/input.pug
        include ../blocks/summary-order/summary-order.pug
        include ../blocks/dropdown-options/dropdown-options.pug
        .header-page__header
          include ../components/_head
        .room-details__background-images
          .room-details__img-item_big
            img(src="src/images/room-details01.jpg", alt="image").background-image-item_size_big
          .room-details__img-items_small
            .room-details__img-item
              img(src="src/images/room-details02.jpg", alt="image").background-image-item1
            .room-details__img-item
              img(src="src/images/room-details03.jpg", alt="image").background-image-item2
        .room-details__content            
          .room-details__main
            .room-details-common-info 
              .room-details__info-about-room
                h1.room-details__label Сведения о номере
                include ../blocks/room-privilege/room-privilege.pug
                +room-privilege("Комфорт", "insert_emoticon", "Шумопоглощающие стены")
                +room-privilege("Удобство", "location_city", "Окно в каждой из спален ")    
                +room-privilege("Уют", "whatshot", "Номер оснащён камином ")    
              .chart-block 
                h1.room-details__label Впечатления от номера
                include ../components/chart/chart.pug
                +chart(260)
            .comments 
              .comments__header
                h1.room-details__label Отзывы посетителей номера
                p.comments__count 2 отзыва    
              .comment-block
                .user-info
                  .avatar  
                    img(src="src/images/avatar.svg", alt="avatar").avatar_small
                  .user-name
                    p.room-privilege__description-label Мурад Сарафанов
                    p.room-privilege__description-text 5 дней назад
                .comment
                  .like-button.like-button_color
                    <span class="material-icons like like-fill">favorite</span> <span class=" like-quantity like-quantity_color">12</span>
                  .comment-text 
                    p.room-privilege__description-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
              .comment-block
                .user-info
                  .avatar  
                    img(src="src/images/avatar2.svg", alt="avatar").avatar_small
                  .user-name
                    p.room-privilege__description-label Патрисия Стёклышкова
                    p.room-privilege__description-text Неделю назад
                .comment
                  .like-button.like-button_color
                    <span class="material-icons like like-fill">favorite</span> <span class=" like-quantity like-quantity_color">2</span> 
                  .comment-text 
                    p.room-privilege__description-text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
            .room-details-rules
              .bullet-list 
                  h1.room-details__label Правила
                  ul.bullet-list__items
                    include ../blocks/list-item/list-item.pug 
                    +list-item("Нельзя с питомцами")
                    +list-item("Без вечеринок и мероприятий")
                    +list-item("Время прибытия — после 13:00, а выезд до 12:00")
              .cancel-info-block 
                h1.room-details__label Отмена
                p.cancel-info-block Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
          .room-details__aside   
            .card-page__booking-form
              include ../components/booking-form/booking-form.pug
        .header-footer-page__footer
          .footer__content
            include ../components/_footer