.background-image-item_size_big {
  width: 981px;
  height: 485px;
}

.background-image-item1 {
  width: 459px;
  height: 262px;
}

.background-image-item2 {
  width: 459px;
  height: 244px;
  position: relative;
  top: -25px;
}

.room-details__background-images {
  display: flex;
}
