html
    head
        style
            include ../components/form-elements.scss
            include ../components/head.scss    
            include landing-page.scss 
            include registration-page.scss
            include ../components/footer.scss
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <meta name='viewport' content='1024'>
        .sign-in-page__wrapper
            .landing-page__header 
                include ../components/_head
            .landing-page__main
                .registration-page__main-bgi
                    include   ../components/_sing-in-form
            .landing-page__footer 
                include ../components/_footer
            
