html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= 'TOXIN'
    link(rel='icon', sizes='image/svg+xml', href='src/assets/favicon.svg')
    link(rel="icon" type="image/png" href="src/assets/favicon.png")
    style
      include ../components/form-elements.scss
      include ../components/head.scss    
      include landing-page.scss 
      include registration-page.scss
      include ../components/footer/footer.scss
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <meta name="viewport" content="1024">
  .sign-in-page__wrapper
    .landing-page__header 
      include ../components/head
    .landing-page__main
      .registration-page__main-bgi
        include   ../components/sing-in-form
    .landing-page__footer 
      include ../components/footer/footer