html
    head
        style
            //- include rating-stars.scss
        .radio-buttons-items
            .radio
                input(type="radio" name="gender" id="1").radio__input
                label(for="1").radio__label Мужчина
            .radio
                input(type="radio" name="gender" id="2").radio__input
                label(for="2").radio__label Женщина 