mixin color-block(BackgroundColor="background: #1F2041", colorDescription="Dark Shade 100%", colorValue="#1F2041")
  .color-block  
    .color-block__color(style= BackgroundColor) 
    .color-block__description 
      h2.color-block__description_head= colorDescription
      p.color-block__description_value= colorValue
html
  head
    style
      include colors-and-type.scss
  .color-and-type.js-color-and-type
    include ./../../blocks/header-logo/header-img-logo.pug
    .color-and-type_wrapper       
      .color-blocks
        +color-block("background: #1F2041", "Dark Shade 100%", "#1F2041")
        +color-block("background: #1F2041BF", "Dark Shade 75%", "#1F2041")
        +color-block("background: #1F204180", "Dark Shade 50%", "#1F2041")
        +color-block("background: #1F204140", "Dark Shade 25%", "#1F2041")
        +color-block("background: #1F20410D", "Dark Shade 5%", "#1F2041")
        +color-block("background: #BC9CFF", "Purple", "#BC9CFF")
        +color-block("background: #6FCF97", "Green", "#6FCF97")
      .type-blocks
        .type-block.type-block__h1
          h1.type-block_type_h1 H1 
          h1.type-block__description.type-block__description_type_h1 This one is the sub-section or widget title
        .type-block.type-block__h2
          h2.type-block_type_h2 H2
          h2.type-block__description.type-block__description_type_h2 Next one is the item title inside widgets
        .type-block.type-block__h3
          h3.type-block_type_h3 H3 
          h3.type-block__description.type-block__description_type_h3 This is a label or CTA text
        .type-block.type-block__body
          span.type-block_type_body Body 
          span.type-block__description.type-block__description_type_body This is the body text which is used for most of the design, like paragraphs, lists, etc.


                    