.cards-page__wrapper {
  background-color: #e5e5e5;
  height: 1350px;
  margin-left: -7px;
  width: 1439px;
}

.header-page__logo {
  position: relative;
  left: 9px;
}

.search-form__dropdown-block {
  position: relative;
  top: 1px;
  margin-bottom: 18px;
  left: 2px;
}

.card-page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  column-gap: 35px;
  margin-left: 139px;
  margin-top: -6px;
}

.cards-page__cards {
  margin-left: -7px;
  margin-top: -105px;
}

.card-page__sign-in-from {
  margin-top: 40px;
  margin-left: 5px;
}

.cards-page__search-form {
  display: grid;
  height: 374px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.card-page__booking-form {
  width: 380px;
  height: 512px;
  padding-top: 17px;
  padding-left: 28px;
  padding-right: 30px;
  margin-left: 5px;
  margin-top: 2px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

.card-page__registration-from {
  margin-top: -136px;
}

.registration-form_sing-up__h1 {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  color: #1f2041;
  margin-bottom: 21px;
}

.mixed-fields {
  margin-bottom: -2px;
}

.registration__radio-buttons-items {
  margin-bottom: 14px;
}

.registration__date-fields {
  margin-bottom: 15px;
}

.registration__toggle-block {
  position: relative;
  margin-top: 10px;
}

.registration__buttons__item {
  position: relative;
  left: 0px;
  top: 4px;
}

.sign-in-block {
  position: relative;
  display: flex;
  width: 320px;
  top: 7px;
}

.sign-in-form {
  margin-top: 0px;
  width: 380px;
  height: 358px;
  left: 140px;
  top: 564px;
  background-color: #fff;
  padding-top: 23px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.sign-in__mixed-fields {
  position: relative;
  left: 28px;
}

.dropdown__input_guests {
  width: 320px;
  background-color: #fff;
  border: 1px px solid rgba(31, 32, 65, 0.25);
  border-radius: 2px;
  position: absolute;
  z-index: 1;
}

.calendar.calendar_long.form-control.input {
  width: 320px;
}

.total-info {
  color: rgba(31, 32, 65, 0.75);
}

.total-info-options {
  display: flex;
  justify-content: space-between;
  height: 15px;
}

.comment-counts {
  font-weight: 700;
  color: rgba(31, 32, 65, 0.5);
}

.total-info-summary {
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
  margin-bottom: -38px;
}

.summary-order-info {
  margin-top: 4px;
  display: grid;
  row-gap: 25px;
}

.total-info_long {
  width: 200px;
}

.visible-calendar {
  display: none;
}

.calendar-form {
  margin-top: -15px;
  margin-left: 6px;
}

.search-room__main-col {
  margin-bottom: 47px;
  width: 270px;
}

@media (max-width: 1200px) {
  .cards-page__wrapper {
    background-color: #e5e5e5;
    height: 100%;
  }

  .card-page-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 12fr;
    column-gap: 35px;
    row-gap: 30px;
    margin-left: 145px;
  }

  .cards-page__search-form {
    width: 380px;
  }

  .card-page-grid .calendar-form {
    margin-top: -15px;
    margin-bottom: 110px;
  }

  .cards-page__cards {
    margin-left: -10px;
    margin-top: 10px;
  }
}
