html
    head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      title= 'TOXIN'
      link(rel='icon', sizes='image/svg+xml', href='src/assets/favicon.svg')
      link(rel="icon" type="image/png" href="src/assets/favicon.png")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
      style
        include ./cards-page.scss
        include ./../../components/form-elements.scss
        include ./../headers-and-footer-page/headers-and-footer-page.scss
        include ./../../components/header/head.scss    
        include ./../landing-page/landing-page.scss
        include ./../registration-page/registration-page.scss
        include ./../search-room-page/search-room-page.scss
        include ./../../components/footer/footer.scss
    .cards-page__wrapper
      include  ./../../blocks/label-h2/label.pug
      include ./../../blocks/input/input.pug
      include ./../../blocks/summary-order/summary-order.pug
      include ./../../blocks/dropdown-options/dropdown-options.pug
      .header-page__logo
        include ./../../blocks/header-logo/header-img-logo.pug
      .card-page-grid
        .cards-page__search-form
          include ./../../components/room-search-form/room-search-form.pug
        .card-page__booking-form
          include ./../../components/booking-form/booking-form.pug
        .calendar-form
          .visible-calendar
        .card-page__registration-from
          .cards-page__form 
            include ./../../components/registration-form/registration-form.pug
        .card-page__sign-in-from
          .cards-page__form 
            include ./../../components/sign-in-form/sign-in-form.pug
        .cards-page__cards
          .search-room__main-col
            include ./../../components/room-card/room-card.pug
            +room-card('room888.png', '888', '9 990₽', 'ЛЮКС' , '145')
          .search-room__main-col
            +room-card('room840.png', '840', '9 000₽', '' , '65')
              
                

                            
                            

             
