.like-button {
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

.material-icons.like {
  font-size: 12px;
}

.like-quantity {
  font-size: 10px;
  line-height: 12px;
  color: rgba(31, 32, 65, 0.25);
  margin-left: 3px;
}

.like-button_color {
  border: 1px solid #bc9cff;
  margin-left: 9px;
}

.like-fill {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  align-items: center;
  text-align: center;
  color: #bc9cff;
}

.like-quantity_color {
  color: #bc9cff;
}
