.sign-in-form {
  width: 380px;
  height: 358px;
  background-color: #fff;
  padding-top: 23px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.sign-in-form__data_h1 {
  margin-left: 27px;
  text-align: left;
  font-size: 24px;
  color: #1f2041;
  margin-bottom: 21px;
}

.sign-in__mixed-fields {
  margin-bottom: -9px;
}

.sign-in__btn-lg {
  position: relative;
  width: 320px;
  top: 14px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
}

.sign-in__btn-lg-text {
  position: relative;
  left: 11px;
  top: 1px;
}

.sign-in__arrow {
  position: relative;
  left: 114px;
  top: 0px;
}
