$footerTextColor: #1f2041;

.footer {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  padding-left: 10.5rem;
  padding-right: 15rem;
  &-item__sub {
    width: 260px;
  }
  &-item {
    max-width: 200px;
    margin-top: -8px;
    &__slogan {
      position: relative;
      left: 23px;
      width: 260px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
    }
    &__head {
      font-size: 12px;
      color: #1f2041;
    }
  }
  &-list {
    list-style: none;
    padding-left: 0;

    &__link {
      text-decoration: none;
      display: block;
      margin-top: 22px;
      color: #1f204180;
    }
  }
}

.footer-item__sub {
  margin-top: -8px;
}

.footer-list__item {
  display: block;
}

.footer-list__item-sub {
  display: block;
  width: 260px;
  height: 48px;
  color: rgba(31, 32, 65, 0.75);
}

.subscribe-field {
  margin-top: 22px;
}

.footer-item__input {
  width: 260px;
  height: 44px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  font-family: Montserrat;
  color: rgba(31, 32, 65, 0.25);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  text-transform: none;
}

.footer-item__subscribe-field-arrow {
  position: relative;
  left: 226px;
  top: -33px;
  font-size: 24px;
  color: #bc9cff;
}

.footer_copyright-txt {
  color: rgba(31, 32, 65, 0.75);
}

.footer__social-icons {
  display: flex;
  width: 120px;
  justify-content: space-around;
  margin-right: 15px;
}

.social-logo {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  margin-top: 46px;
  padding: 0 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: 0px -2px rgb(31 32 65 / 13%);
}

.footer-item__nav {
  position: relative;
  left: 4px;
  top: 1px;
}

.footer-item__about {
  position: relative;
  left: 4px;
  top: 1px;
}

.footer-item__service {
  position: relative;
  left: 4px;
  top: 1px;
}

.footer-item__sub {
  position: relative;
  left: 4px;
  top: 1px;
}

@media (max-width: 1200px) {
  .footer {
    display: grid;
    padding-left: 3rem;
  }

  .footer-item {
    margin-left: 20px;
  }

  .headers-and-footer-page__mobile-footer {
    margin-left: 0px;
  }
}
