mixin room-privilege(header, picture, decripion)
  style 
    include ./room-privilege.scss
  .room-privilege-block
    .room-privilege__image    
      span.material-icons.room-privilege-img= picture
    .room-privilege__description 
      p.room-privilege__description-label= header
      p.room-privilege__description-text= decripion
