.rating {
  position: relative;
  font-size: 29px;
  display: inline-block;
}

.rating::before {
  content: '★★★★★';
  display: block;
}

.rating-stars {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.rating__star {
  position: absolute;
  visibility: hidden;
}

.rating__label {
  cursor: pointer;
  color: #ceced4;
}

.rating__label::before {
  content: '★';
  display: block;
  transition: color 0.3s ease 0s;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  text-transform: none;
}
