doctype html
html(lang='en')        
    title='Hotels search' 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    block scripts 
        script(src='/src/libs/nouislider.min.js')
    body 
        //- include pug/components/_colors-and-type.pug
        //- include pug/components/_head.pug
        //- include pug/components/_footer
        //- include pug/components/_room-card
        //- include pug/components/_sing-in-form
        //- include pug/components/_registration-form
        //- include pug/components/_search-form.pug
        //- include pug/components/_booking-form.pug
        include pug/components/_form-elements.pug
        //- include pug/pages/form-elements-page.pug
        //- include pug/pages/landing-page.pug
        //- include pug/components/_footer
        include pug/pages/search-room-page

        
        
        
    
    
        
            
        