doctype html
html(lang='en')
    head 
        style 
            //- include pug/components/head.scss          
            //- include pug/components/footer.scss          
    title='Hotels' 
    include pug/components/_head
    include pug/components/_footer
    
        
    
           
        
            
        