doctype html
html(lang='en')        
    title='Hotels search' 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    block scripts 
        script(src='/src/libs/nouislider.min.js')
    body 
        //- include pug/components/_colors-and-type.pug
        //- include pug/pages/cards-page
        //- include pug/pages/form-elements-page.pug
        //- include pug/pages/headers-and-footer-page

        //- include pug/pages/landing-page.pug
        include pug/pages/search-room-page
        //- include pug/pages/room-details-page.pug
        //- include pug/pages/sign-in-page
        //- include pug/pages/registration-page

        //- include pug/pages/navigation-page.pug
        
        
        
        
    
    
        
            
        