doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    block scripts
      script(src="/src/libs/nouislider.min.js")
    body
      include pug/components/colors-and-type/colors-and-type.pug
      include pug/pages/cards-page/cards-page.pug
      include pug/pages/form-elements-page.pug
      include pug/pages/headers-and-footer-page/headers-and-footer-page.pug

      include pug/pages/landing-page/landing-page.pug
      include pug/pages/search-room-page.pug
      include pug/pages/room-details-page.pug
      include pug/pages/sign-in-page.pug
      include pug/pages/registration-page.pug

      include pug/pages/navigation-page.pug