doctype html
html(lang='en')
    head 
        style 
            include pug/components/head.scss
    title='Hotels' 
    include pug/components/_head
    include pug/components/_footer
    
        
    
           
        
            
        