doctype html
html(lang='en')        
    title='Hotels search' 
    body 
        include pug/components/_head
        include pug/components/_footer
        include pug/components/_room-card
        include pug/components/_sing-in-form
        include pug/components/_registration-form
        
    
           
        
            
        