.card-page__room-card-info {
  margin-bottom: -8px;
}

.room-card-info__text {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 233px;
}

.room-card-info__number {
  position: relative;
  left: 5px;
  top: 3px;
  display: flex;
  align-items: baseline;
}

.room-card-sign-number {
  font-weight: 700;
  color: #1f2041;
}

.room-card-number_form_booking {
  font-size: 24px;
  color: #1f2041;
}

.luxe-attr {
  position: relative;
  left: 9px;
  font-size: 12px;
  text-transform: uppercase;
  color: #bc9cff;
}

.room-card-info__price_form_booking {
  position: relative;
  left: 91px;
  top: 3px;
  color: rgba(31, 32, 65, 0.5);
}

.room-price {
  font-weight: 700;
}

.price-per {
  font-size: 12px;
}

.search-form__date-pickers {
  display: flex;
  width: 321px;
  margin-top: -5px;
}

.summary-order-info {
  margin-top: 7px;
  display: grid;
  row-gap: 25px;
}

.booking-buttons__item {
  margin-top: 29px;
}
