html
    head
        style
            include ./booking-form.scss
        .card-page__room-card-info
            .room-card-info__text
                .room-card-info__number
                    p.room-card-sign-number №
                    h2.card-from.room-card-number 888
                    h3.luxe-attr ЛЮКС
                .card-page.room-card-info__price 
                    span.room-price 9 990₽
                    span.price-per &nbsp в сутки
        .search-form__date-pickers
            .field
                +label("прибытие")
                +input("date", "ДД.ММ.ГГГГ", "narrow")
            .field
                +label("выезд") 
                +input("date", "ДД.ММ.ГГГГ", "narrow")
        .search-form__dropdown-block
            .dropdown-block__label
                +label("гости")   
            .dropdown__input
                .dropdown__input_default.dropdown__input_wide  
                    span.dropdown__input-text  Сколько гостей
                    span.material-icons.expand-arrow.dropdown-arrow.dropdown__arrow_comfort.dropdown__arrow_checkbox expand_more
                .dropdown__input_guests.dropdown__input_guests-expanded-apply.search-room-added-checkbox-list.hidden
                        +dropdown-block("взрослые", "дети", "младенцы", "применить","очистить")
            .summary-order-info
                +summary-order("9 990", "4", "39 960", "2 179", "0", "300", "38 081")
