.background-image-item_size_big {
  width: 981px;
  height: 485px;
}

.background-image-item1 {
  width: 459px;
  height: 262px;
}

.background-image-item2 {
  width: 459px;
  height: 244px;
  position: relative;
  top: -25px;
}

.room-details__background-images {
  margin-top: -38px;
  display: flex;
}

.room-details__label {
  font-size: 19px;
  color: #1f2041;
}

.material-icons.like-fill {
  font-size: 12px;
}

.comments {
  display: block;
  width: 712px;
  margin-bottom: -23px;
}

.comments__count {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
}

.comments__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.room-details__main {
  margin-left: 132px;
  margin-top: 27px;
}

.room-details__info-about-room {
  margin-bottom: 8px;
}

.room-details-rules {
  display: flex;
  width: 686px;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 0px;
}

.room-details_bullet-list-mt {
  margin-top: -75px;
}

.room-details__label {
  color: rgba(31, 32, 65, 0.75);
}

.bullet-list__items:last-child {
  width: 237px;
}

.room-details-common-info {
  display: flex;
  width: 709px;
  justify-content: space-between;
}

.room-details__content {
  display: flex;
  width: 1440px;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 146px;
}

.card-page__booking-form {
  margin-top: 40px;
}

.chart-block__list {
  position: relative;
  top: -16px;
  left: 0px;
}

.header-footer-page__footer {
  margin-top: 72px;
  box-shadow: 0px -1px 0px 0px rgb(31 32 65 / 24%);
}

@media (max-width: 1200px) {
  .room-details__content {
    display: grid;
  }

  .card-page__booking-form {
    margin-left: 120px;
  }
}
