.total-info-options {
  display: flex;
  justify-content: space-between;
  height: 10px;
}

.total-info {
  color: rgba(31, 32, 65, 0.75);
}

.total-info_long {
  width: 200px;
}

h2.price-sum {
  font-size: 19px;
  color: #1f2041;
}
