html
  head
  .landing-page__search-form-elements
    h1.search-form__header Найдём номера под ваши пожелания
    .search-form__date-pickers
      .field
        include ../../blocks/label-h2/label.pug
        +label("прибытие")
        include ../../blocks/input/input.pug
        +input("date", "ДД.ММ.ГГГГ", "narrow")
      .field
        +label("выезд") 
        +input("date", "ДД.ММ.ГГГГ", "narrow")
    .search-form__dropdown-block
      .dropdown-block__label 
        +label("гости")
      .dropdown__input
        .dropdown__input_default.dropdown__input_wide  
          span.dropdown__input-text  Сколько гостей  
          span.material-icons.expand-arrow.dropdown-arrow-guests expand_more
        .dropdown__input_guests.dropdown__input_guests-expanded-apply.hidden
          include ../../blocks/dropdown-options/dropdown-options.pug
          +dropdown-block("взрослые", "дети", "младенцы", "применить","очистить")
        button.btn.sing-in__btn-lg.search-button 
          span.sing-in__btn-lg-text подобрать номер
          span.material-icons.sign-in__arrow.search-arrow arrow_forward
