.search-room__label {
  position: relative;
  left: 10px;
  top: -4px;
  font-size: 24px;
  line-height: 29px;
  color: #1f2041;
}

.search-room__wrapper {
  display: block;
  background-color: rgb(255, 255, 255);
  width: 1440px;
  height: 100%;
  padding-top: 1px;
}

.search-room__body {
  display: flex;
  margin-left: 114px;
}

.search-room__aside {
  margin-left: 20px;
  margin-top: -13px;
}

.search-room__main {
  margin-left: -29px;
  margin-top: 16px;
}

.room-picture {
  width: 270px;
  height: 151px;
  border-radius: 4px 4px 0px 0px;
}

.room-card {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  background-color: #fff;
}

.room-card-number {
  font-size: 19px;
  line-height: 17px;
  color: #1f2041;
}

.luxe-attr {
  position: relative;
  left: 9px;
  font-size: 12px;
  text-transform: uppercase;
  color: #bc9cff;
}

.room-card-sign-number {
  font-weight: 700;
  color: #1f2041;
}

.room-card-info {
  margin-left: 20px;
}

.room-card-info__number {
  position: relative;
  left: 5px;
  top: 3px;
  display: flex;
  align-items: baseline;
}

.room-card-info__text {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 233px;
}

.room-price {
  font-weight: 700;
  color: rgba(31, 32, 65, 0.5);
}

.price-per {
  font-size: 12px;
  color: rgba(31, 32, 65, 0.5);
}

.comment-text-attr {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
}

.room-card-rating {
  display: flex;
  width: 230px;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
}

.stars-block {
  width: 120px;
}

.search-room__cards {
  display: flex;
}
.search-room__main-col {
  margin-left: 12px;
}

.input.calendar.calendar_long {
  width: 320px;
}

.dropdown-arrow-calendar {
  position: relative;
  left: -32px;
}

.dropdown-arrow-guests {
  position: relative;
  left: 4px;
  top: 2px;
}

.room-card__comment {
  display: flex;
  align-items: center;
}

.filter-price_description {
  position: relative;
  left: -10px;
  font-size: 12px;
  color: rgba(31, 32, 65, 0.5);
}

.search-room-filter-price {
  margin-top: 19px;
  margin-left: 12px;
}

.search-room-checkbox-list_rich {
  width: 266px;
  margin-top: 22px;
}
.search-room-checkbox-list {
  margin-top: 20px;
}
.search-room-added-checkbox-list {
  margin-top: 20px;
}

.search-room__pagination {
  position: relative;
  left: 753px;
  top: -14px;
}
.search-page__footer {
  position: relative;
  top: -95px;
  box-shadow: 1px -5px 4px -3px rgb(31 32 65 / 10%);
}

.dropdown__arrow_comfort {
  display: inline-block;
}

.hidden {
  display: none;
}

.dropdown__input_guests {
  width: 266px;
  height: 119px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 2px;
  margin-top: -1px;
}

.dropdown__input_guests-expanded-apply {
  height: 159px;
  margin-bottom: 20px;
}

.apply-btn_narrow {
  position: relative;
  width: 84px;
  height: 15px;
  left: 175px;
  bottom: -10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
}

.input.calendar.calendar_long {
  width: 266px;
}

@media (max-width: 1200px) {
  .search-room__cards {
    display: grid;
  }

  .search-room__body {
    margin-left: 20px;
  }

  .search-room__pagination {
    position: relative;
    left: 377px;
    top: -14px;
  }

  .footer-item__sub {
    margin-top: -8px;
    margin-left: 20px;
  }
}
