
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= 'TOXIN'
    link(rel='icon', sizes='image/svg+xml', href='src/assets/favicon.svg')
    link(rel="icon" type="image/png" href="src/assets/favicon.png")
    style
      include ./../../components/form-elements.scss
      include ./../form-elements-page/form-elements-page.scss
      include ./../../components/header/head.scss    
      include ./../../components/footer/footer.scss
      include search-room-page.scss
  .search-room__wrapper.js-search-room__wrapper
    include ./../../blocks/input/input.pug
    include ./../../components/room-card/room-card.pug
    include ./../../blocks/checkbox/checkbox.pug
    include ./../../blocks/rich-checkbox/rich-checkbox.pug
    include ./../../blocks/label-h2/label.pug
    include ./../../blocks/dropdown-options/dropdown-options.pug
    .landing-page__header 
      include ./../../components/header/head
  .search-room__body 
    .search-room__aside 
      .date-pickers
        .field
          +label("даты пребывания в отеле")
          +input("date", "ДД.ММ.ГГГГ", "middle")
          <span class="material-icons expand-arrow dropdown-arrow-calendar">expand_more</span>
      .search-form__dropdown-block
        .dropdown-block__label 
          h2.label гости
        .dropdown__input.searching-room__guest-filter
          .dropdown__input_default.dropdown__input_middle
            span.dropdown__input-text  Сколько гостей  
            <span class="material-icons expand-arrow dropdown-arrow-guests">expand_more</span>
          .dropdown__input_guests.dropdown__input_guests-expanded-apply.hidden.js-dropdown__input_guests.js-hidden
            +dropdown-block("взрослые", "дети", "младенцы", "очистить","применить")
      .search-room-filter-price
        include ./../../components/range_slider/range_slider.pug
      .search-room-checkbox-list
        .checkbox-list__label
          +label("правила дома")  
        .checkbox-list_options 
          +checkbox('Можно курить')
          +checkbox('Можно с питомцами', true)
          +checkbox('Можно пригласить гостей (до 10 человек)', true)
      .search-room-checkbox-list_rich 
        .checkbox-list__label
          +label("доступность")   
        .checkbox-list__options_with_discribe
          +rich-checkbox("Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
          +rich-checkbox("Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера. ")
      .dropdown-block__comfort
        .dropdown-block__label
          +label("Удобства номера")                          
        .dropdown__input 
          .dropdown__input_default
            span.dropdown__input-text  2 спальни, 2 кровати
            span(class="material-icons expand-arrow dropdown__arrow_comfort") expand_more
          .dropdown__input_expanded.hidden.js-dropdown__input_expanded.js-hidden
            +dropdown-block("спальни", "кровати", "ванные комнаты", "","")                      
      .dropdown-block__additional-amenities
        .dropdown-block__label_expand_true
          +label("дополнительные удобства")   
          span(class="material-icons expand-arrow dropdown__arrow_checkbox") expand_more
      .search-room-added-checkbox-list.hidden.js-search-room-added-checkbox-list.js-hidden
        .checkbox-list_options
          +checkbox('Завтрак') 
          +checkbox('Письменный стол') 
          +checkbox('Стул для кормления') 
          +checkbox('Кроватка') 
          +checkbox('Телевизор') 
          +checkbox('Шампунь')                      
    .search-room__main
        .search-room-page__header-wrapper
          h1.search-room-page__header Номера, которые мы для вас подобрали    
        .search-room__cards
          .search-room__main-col
            +room-card("room888.png", "888", "9 990₽", "ЛЮКС", "145")
            +room-card("room856.png", "856", "7 300₽", "" , "19")
            +room-card("room678.png", "678", "5 500₽", "" , "45")
            +room-card("room666.png", "666", "5 000₽", "" , "25")
          .search-room__main-col
            +room-card("room840.png", "840", "9 990₽", "", "65")
            +room-card("room740.png", "740", "6 000₽", "" , "44")
            +room-card("room450.png", "450", "5 300₽", "" , "39")
            +room-card("room444.png", "444", "5 000₽", "" , "15")
          .search-room__main-col
            +room-card("room980.png", "980", "8 500₽", "ЛЮКС", "35")
            +room-card("room982.png", "982", "5 800₽", "" , "56")
            +room-card("room350.png", "350", "5 00₽", "" , "77")
            +room-card("room352.png", "352", "5 000₽", "" , "55")
  .search-room__pagination 
    .pagination
      include ./../../blocks/pagination/pagination.pug
  .search-page__footer
    .landing-page__footer 
      include ./../../components/footer/footer
